		.main {
			color: white;
			text-align: center;
			background-image: url('http://image.auction.co.kr/itemimage/17/e1/0c/17e10c2826.jpg');
			background-size: cover;
			background-position: center;
			width: 650px;
			height: 650px;
			border-radius: 10px;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		
		.wrap {
			width: 600px;
			margin: 30px auto 0 auto;
			font-size: .875rem;

		}
		.order {
			
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.account .display-4 {
			font-family: 'Cute Font', cursive;
			color: pink;
		}

		.lead > h4{
			font-family: 'Cute Font', cursive;
			font-family: 'Yeon Sung', cursive;
		}
		.account .my-4 {
			font-family: 'Cute Font', cursive;
			font-family: 'Yeon Sung', cursive;
		}
		.self-info {
			font-family: 'Cute Font', cursive;
			font-family: 'Yeon Sung', cursive;
			font-family: 'Nanum Gothic Coding', monospace;
		}